doctype html
html(manifest='cache.manifest')
  head
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='#{path}/css/main.css')
    link(rel='stylesheet', href='#{path}/css/bootstrap3.css')
  body
    block content
    script(src="#{path}/js/FileSaver.js")